<!DOCTYPE html>
<html>
    <head>
        <title>VietDish</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1,minimum-scale=1,height=device-height,shrink-to-fit=no">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.js"></script>
        <script src="https://cdn.tiny.cloud/1/l9qxratvhz7v53w77807r57x80iq8uhu7pcfi45dfry5o3qv/tinymce/5/tinymce.min.js" referrerpolicy="origin"/></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="nav-wrapper">
                <nav id="navigation" class="container">
                    {% include 'menu.html' %}
                </nav>
            </div>
            <div id="jumbotron" class="main-jumbotron">
                <div class="container">
                    <div id="site-title-container" class="site-title">
                        <div id="main-jumbo-logo" class="logo">Viet<span class="dish">Dish</span></div>
                        <p>Aggregated Vietnamese and Asian-Fusion Recipes.</p>
                        <p class="small-text">Powered by <a href="https://spoonacular.com/food-api/" target="_blank">Spoonacular API</a></p>
                    </div>
                </div>
            </div>
            {% block content %}
            {% endblock %}
            <div class="ui hidden divider"></div>
            {% include 'sign-up-modal.html' %}
            <script  src="/static/js/app.js" type="module"></script>
            {% include 'footer.html' %}
        </div>
        <!-- <script src="/static/js/app.js"></script> -->
    </body>
</html>