<div id="sign-up-modal" class="ui small modal">
  <i class="close icon"></i>
  <div class="header site-title">
    <span class="logo">Viet<span class="dish">Dish</span></span>
  </div>
  <div class="content">
    <div class="description">
      <div class="ui header align-center">What is VietDish?</div>
      <p><strong>VietDish</strong> allows you to search for, favorite, and rate authentic and fusion Vietnamese
        recipes.<br /><a href="/login">Sign in</a> with your Google account for a better experience!</p>
      <p><strong>VietDish</strong> is a demo project built with <strong>Python</strong>, <strong>Flask</strong>, &
        <strong>PostgresDB</strong> and is based on the <a href="">Spoonacular API</a></p>
      <p><strong>Want to learn more about the developer?</strong>
      <p>Visit my <a href="https://www.tannguyendeveloper.com" target="_blank"><i class="home icon"></i>Website</a>, <a
          href="https://github.com/tannguyendeveloper/" target="_blank"><i class="github icon"></i>GitHub</a>, <a href="https://www.linkedin.com/in/tan-nguyen-developer/" target="_blank"><i
            class="linkedin icon"></i>LinkedIn</a>, or download my <a download=""
          href="https://www.tannguyendeveloper.com/tan.nguyen.resume.pdf">resume</a>.</p>
      </a>
    </div>
  </div>
  <div class="actions">
    <div class="ui grey deny button">
      Not Now
    </div>
    <a href="/login" class="ui blue left labeled icon button">
      Sign in With Google
      <i class="google icon"></i>
    </a>
  </div>
</div>